body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
}

canvas {
  background: #000000;
}

.text {
  font-size: 30px;
  color:#566573;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

span {
  color: rgb(62, 211, 216);
}

.nav {
  bottom: 0;
  left: 0;
  position: absolute;
  justify-content: center;
  height: 50px;
  width: 100%;
  background: #404949;
  border-bottom: 3px solid #04C2C9;
  z-index: 99;
  transition : all .5s ease-out;
  transform:translateY(-1em);
}

.active {
  color:  #04C2C9;
}

.header {
  padding: 50px 0 10px 0;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 35px;
  color: #444649;
}

.header-bar {
  margin: auto;
  width: 70px;
  height: 4px;
  background: #444649;
}

.item {
  margin: 10px 0 0 0;
  color: #ffffff;
}

.paragraph {
  text-align: center;
  margin: 40px 250px 10px 250px;
  padding-bottom: 30px;
}

.blurp {
  padding-bottom: 20px;
}

#about {
  background-color: whitesmoke; 
}

.circle {
  display: block;
  margin: 25px auto 0 auto;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

#wrapper {
  position: absolute;
  left: 0;
  width: 420px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -160px;
}

.projects {
  padding: 20px 10px 10px 10px;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: .3s ease-in-out;
  backface-visibility: hidden;
}
.description {
  background-color: #22A39F;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.band {
  width: 100%;
  max-width: 1240px;
  margin: 40px auto 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-area: auto;
}

.card {
  background: white;
  /* text-decoration: none; */
  color: rgb(26, 199, 193);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border-color: #62D9DD;
}

.info {
  position: absolute; 
  transition: .5s ease;
  opacity:0;
  color: purple;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.card .thumb {
  padding-bottom: 80%;
  background-size: contain;
  background-position: center center;
  background-repeat:no-repeat;
}

.tile:hover .thumb{
  opacity: .1;
  top: -2px;
  transition: .5s ease;
}
.tile:hover .info{
  opacity: 1;
  top: -2px;
  transition: 1s ease;
} 

.after {
  background-color: #62D9DD;
  color: #000000;
  font-size: 18px;
  padding: 16px 32px;
}
#contact {
  background-color: whitesmoke; 
}

.form {
  background-color: whitesmoke; 
  margin: 20px auto 0px auto;
  width: 680px;
}

.submit {
  margin: 10px auto 20px auto;
  padding: 10px;
  color:#566573; 
  border: 3px solid #62D9DD;
}

.hello {
  margin: 40px auto 20px auto;
  text-align: center;
  color: #62D9DD;
  font-size: 20px;
}

footer {
  background: #62D9DD;
  padding: 50px 0 30px 0;
  position: relative;
}

.media{
  padding: 0px 20px 0px 20px;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footnote{
  margin-top: 15px;
  font-size: 15px;
  color: #404949;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: white;
}